@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

input[type="checkbox"]:checked + label.custom-checkbox {
    @apply ring-2 ring-caldy-500 ring-offset-2 dark:ring-offset-gray-800;
}

.btn-group, .spinner-group {
    display: flex;
}

.btn-group *:focus, .spinner-group *:focus {
    z-index: 1;
}

.btn-group button:first-child, .spinner-group button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group button:last-child, .spinner-group button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group button:last-child {
    margin-left:-1px;
}

@keyframes pbishort {
    0% {
      left: -40%;
    }
  
    75% {
      left: 120%;
    }
  
    100% {
      left: 120%;
    }
  }
  
  @keyframes pbilong {
    0% {
      left: -90%;
    }
  
    37.5% {
      left: -90%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  .progress-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 2px;
  }
  
  .progress-bar > .short-bar {
    width: 40%;
    height: 100%;
    left: -40%;
    position: absolute;
    display: inline-block;
    -webkit-animation: pbishort 2s ease-in-out infinite;
    -moz-animation: pbishort 2s ease-in-out infinite;
    -o-animation: pbishort 2s ease-in-out infinite;
    animation: pbishort 2s ease-in-out infinite;
  }
  
  .progress-bar > .long-bar {
    width: 60%;
    height: 100%;
    left: -90%;
    position: absolute;
    display: inline-block;
    -webkit-animation: pbilong 2s ease-in-out infinite;
    -moz-animation: pbilong 2s ease-in-out infinite;
    -o-animation: pbilong 2s ease-in-out infinite;
    animation: pbilong 2s ease-in-out infinite;
  }
  .table {
    @apply w-full;
  }

  .table tr {
    @apply rounded-md hover:bg-caldy-500 hover:bg-opacity-10 selection:focus:outline-none focus:ring-2 focus:ring-caldy-500 focus:ring-offset-2 dark:focus:ring-offset-neutral-800 transition ease-in-out duration-150;
  }

  .table tr[tabindex] {
    @apply cursor-pointer;
  }

  .table th {
    @apply text-left;
  }

 .table th, .table td {
    @apply px-6 py-3;
  }